In [1]:
import sqlite3
import numpy as np
import pandas as pd
import seaborn as sns
import numpy as np
import datetime
import sys
import os

# PROCESSING WILDFIRE DATASET

In [2]:
def create_wildfire_df(PATH):
    '''
    PATH: Linux path to sqlite for wildfire database
    Output:
        dataframe: of wildfire with the following columns:
        LATITUDE
        LONGITUDE
        STATE
        date
        fire_size
        fire_year
        fire_month
        fire_total (This is total fire in a particular latitude, longitude, fire_year and fire_month)
    '''
    assert(os.path.exists(PATH)),"Incorrect file path"
    conn = sqlite3.connect(PATH)
    data_dates = pd.read_sql_query("SELECT fire_year, discovery_date FROM fires;", conn)
    data_size = pd.read_sql_query("SELECT fire_size, fire_size_class FROM fires;", conn)
    data_location = pd.read_sql_query("SELECT latitude, longitude, state FROM fires;", conn)
    date = pd.read_sql_query("select datetime(DISCOVERY_DATE) as DISCOVERY_DATE from fires;", conn)
    data_dates_arr = date['DISCOVERY_DATE']
    fire_year_arr = data_dates['FIRE_YEAR']
    fire_size_arr = data_size['FIRE_SIZE']  
    #Create a dataframe df 
    df = data_location
    df['date'] = data_dates_arr
    df['fire_size'] = fire_size_arr
    df['fire_year'] = fire_year_arr
    df['fire_month'] = pd.DatetimeIndex(df['date']).month
    #Converted Lat and Long to int to remove the exact precision
    df['LATITUDE'] = df['LATITUDE'].astype(int)
    df['LONGITUDE'] = df['LONGITUDE'].astype(int)
##Compute total fire based on Latitude, Longitude, fire_year and fire_month
    df['fire_total'] = df.groupby(['LATITUDE','LONGITUDE', 'fire_year','fire_month'])['fire_size'].transform(sum)
    
    return df

In [3]:
def large_fire_coord(state, fire_size, df):
    '''
    Input: 
        state: The state we want to focus on.
        df: Input dataframe
        fire_size: fire size above which is considered large
    Output:
        lat_min,lat_max,long_min,long_max: the coordinates with fires above fire_size in state 'state'
    '''
    #print(state)
    df = df.query("fire_total >= fire_size and STATE == @state")
    lat_max = df['LATITUDE'].max()
    lat_min = df['LATITUDE'].min()
    long_max = df['LONGITUDE'].max()
    long_min = df['LONGITUDE'].min() 
    return lat_min,lat_max,long_min,long_max

In [11]:
def process_df(coords, df):
    '''
    Input: 
        coords: A tuple of lat_min,lat_max,long_min,long_max in which we need to find wild fires
        Find sum of fire occuring within the location, for a given year and month
    
    '''
    lat_min,lat_max,long_min,long_max = coords
    #print(lat_min,lat_max,long_min,long_max)
    df_new = df.query("LATITUDE >= @lat_min and LATITUDE <= @lat_max and LONGITUDE >= @long_min and LONGITUDE <= @long_max")
    #print(df_new)
    df_new['fire_total_area'] = df_new.groupby(['fire_year','fire_month'])['fire_total'].transform(sum)
    df_new = df_new.sort_values('fire_total', ascending=False).drop_duplicates(['fire_year','fire_month'])
    df_final = df_new[['fire_year','fire_month','fire_total_area']]
    return df_final

In [4]:
PATH = '../../188-million-us-wildfires/FPA_FOD_20170508.sqlite'

In [5]:
fire_df = create_wildfire_df(PATH)

In [8]:
coords = large_fire_coord('AK',10000,fire_df)

In [12]:
fire_df_local = process_df(coords,fire_df)

C:\Users\payal\Anaconda4\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [13]:
fire_df_local

         fire_year  fire_month  fire_total_area
211296        1997           6     3.600862e+06
305585        2004           6     1.229897e+07
1215267       2009           6     3.240731e+06
305684        2004           7     2.813613e+06
1796561       2015           6     2.494216e+07
305353        2002           7     2.367513e+06
305816        2005           6     7.291983e+06
305317        2002           6     1.769609e+06
306311        2007           7     9.018486e+05
305976        2005           7     3.522544e+06
211538        1999           6     3.003148e+06
210626        1993           7     1.551524e+06
1642926       2013           5     1.098026e+06
379185        2001           6     8.591664e+05
1736708       2014           5     1.035283e+06
366577        2003           6     9.587045e+05
305296        2002           5     1.540359e+06
306606        2009           7     3.496906e+06
305807        2005           5     2.672927e+05
1215293       2010           5     1.461041e+06
305156        2000           6     1.469524e+06
306502        2009           5     5.436757e+05
305752        2004           8     4.652279e+05
306031        2005           8     8.791081e+05
1064311       2006           6     2.771955e+05
1805225       2015           7     9.873621e+05
306647        2009           8     3.436664e+05
1642973       2013           6     2.641937e+06
1796375       2015           5     5.174465e+05
211112        1996           6     1.871581e+06
...            ...         ...              ...
1063887       1993           9     6.400000e+00
1145358       2010           3     1.000000e+00
305783        2004          10     7.500000e-01
380268        1998           3     6.000000e-01
1453982       2011           8     4.550000e+00
1652004       2013          11     4.000000e-01
1471558       2011           3     1.000000e+00
1736787       2014           2     3.000000e-01
1729150       2014          10     7.000000e-01
1796145       2015          12     3.000000e-01
378781        2007          10     4.000000e-01
1642883       2013          10     3.000000e-01
1796139       2015          10     4.000000e-01
126579        2000           9     9.000000e-01
26390         2007          11     2.000000e-01
1145331       2010          11     1.000000e-01
1361433       1995          12     3.000000e-01
75400         1993          10     1.000000e-01
1651816       2013           2     1.000000e-01
211428        1997          11     1.000000e-01
377602        2004           1     1.000000e-01
377603        2004           3     1.000000e-01
680931        2009           1     1.000000e-01
380680        1999           3     1.000000e-01
378989        2000          11     1.000000e-01
1465909       2011           1     1.000000e-01
377457        2003          11     1.000000e-01
1796149       2015           2     1.000000e-01
380850        2002           1     1.000000e-01
380851        2002           3     1.000000e-01

[206 rows x 3 columns]

# Working on temperature dataset

In [25]:
import os 
import numpy as np
import iris   
import iris.plot as iplt
import iris.quickplot as qplt
import matplotlib.pyplot as plt
%matplotlib inline
import iris.coord_categorisation as cat
import pandas as pd
from iris.analysis import Aggregator

In [76]:
def region_based_cube(cube,coords):
    '''
    Inputs:
        cube with latitude and longitude as coords
        coords: the region we want to extract from input cube
    Outputs: 
        A smaller cube within coords
    '''
    lat_min,lat_max,long_min,long_max = coords
    lat_cons = iris.Constraint(latitude = lambda x : lat_min < x < lat_max)
    if (long_min<0):
        long_min = long_min+360
    if(long_max <0) :
        long_max = long_max+360
    long_cons = iris.Constraint(longitude = lambda x : long_min < x < long_max)
    new_cube = cube.extract(lat_cons & long_cons)
    return new_cube

In [20]:
##Adding auxilary axis:
def get_decade(coord, value):
    date = coord.units.num2date(value)
    return date.year - date.year % 10
def get_year(coord, value):
    date = coord.units.num2date(value)
    return date.year

def get_month(coord, value):
    date = coord.units.num2date(value)
    return date.month


#cat.add_categorised_coord(cube, 'decade', 'time', get_decade)

In [21]:
def get_monthy_mean(cube):
    '''
    Output: Returns an array which is a monthy mean tempurature over the entire area of the cube for all the years.
    '''
    cube_mean = cube.collapsed(['latitude','longitude'], iris.analysis.MEAN)
    cube_mean_month = cube_mean.aggregated_by(['month'],iris.analysis.MEAN)
    return cube_mean_month.data

In [53]:
def compute_diff(data,axis,month):
    if (len(data) < 12):
        return 0
    new_data = data[month] - monthy_mean.data[month]
    return new_data

In [44]:
PATH_temp = os.path.join(os.getcwd(), "../../air.mon.mean.nc")

In [45]:
cube_temp = iris.load_cube(PATH_temp)
##Add year and month as auxillary axis to cube
cat.add_categorised_coord(cube_temp, 'year', 'time', get_year)
cat.add_categorised_coord(cube_temp, 'month', 'time', get_month)

In [78]:
##Extract region based cube
cube_local = region_based_cube(cube_temp,coords)

##Compute monthy mean in the local cube for the entire duration. This returns an array of shape (12,).
monthy_mean = get_monthy_mean(cube_local)

C:\Users\payal\Anaconda4\lib\site-packages\iris\cube.py:3218: UserWarning: Collapsing spatial coordinate 'latitude' without weighting
  warnings.warn(msg.format(coord.name()))
C:\Users\payal\Anaconda4\lib\site-packages\iris\coords.py:1410: UserWarning: Collapsing a non-contiguous coordinate. Metadata may not be fully descriptive for 'latitude'.
  warnings.warn(msg.format(self.name()))
C:\Users\payal\Anaconda4\lib\site-packages\iris\coords.py:1410: UserWarning: Collapsing a non-contiguous coordinate. Metadata may not be fully descriptive for 'longitude'.
  warnings.warn(msg.format(self.name()))

In [36]:
DIFF = Aggregator('diff_mean',
                         compute_diff,
                         units_func=lambda units: 1)

In [79]:
##Iterate over months and find difference and put in one array. 
##This gives how much above/below average is the temperature of a month/year in the cube
cube_mean = cube_local.collapsed(['latitude','longitude'], iris.analysis.MEAN)
for i in range(12):
    cube_AK_max_year = cube_mean.aggregated_by(['year'],DIFF,month=i)
    print(cube_AK_max_year.shape)
    if i == 0 :
        new_arr = cube_AK_max_year.data.filled()
    else:
        new_arr = np.vstack((new_arr,cube_AK_max_year.data.filled()))

C:\Users\payal\Anaconda4\lib\site-packages\iris\cube.py:3218: UserWarning: Collapsing spatial coordinate 'latitude' without weighting
  warnings.warn(msg.format(coord.name()))
C:\Users\payal\Anaconda4\lib\site-packages\iris\coords.py:1410: UserWarning: Collapsing a non-contiguous coordinate. Metadata may not be fully descriptive for 'latitude'.
  warnings.warn(msg.format(self.name()))
C:\Users\payal\Anaconda4\lib\site-packages\iris\coords.py:1410: UserWarning: Collapsing a non-contiguous coordinate. Metadata may not be fully descriptive for 'longitude'.
  warnings.warn(msg.format(self.name()))

(73,)
(73,)
(73,)
(73,)
(73,)
(73,)
(73,)
(73,)
(73,)
(73,)
(73,)
(73,)

In [81]:
##Coherant to wildfire timelines
years = [i+1948 for i in range(73)]
months = [i for i in range(1,13)]

In [82]:
temp_pd = pd.DataFrame(new_arr,columns=cols)
small_years = [1992+i for i in range(24)]
temp_pd = temp_pd[small_years]
temp_pd['month'] = [i for i in range(1,13)]

In [83]:
##Rearrange pd: with columns as months, years and values as: "how much above/below average the temp is."
temp_pd_mod = temp_pd.melt(id_vars=['month'], var_name='year', value_name='temp_diff')

In [84]:
##Use wildfire pd: 
fire_df_local = fire_df_local.rename(columns={"fire_year": "year", "fire_month": "month"})

In [85]:
##Merge only the intersection of two pandas
result1 = pd.merge(temp_pd_mod, fire_df_local, on=['year', 'month'])

     month  year  temp_diff  fire_total_area
0        4  1992  -0.306427            31.40
1        5  1992  -1.476074         22655.10
2        6  1992   0.647583        160720.40
3        7  1992   0.341827         97579.10
4        8  1992  -0.328735          9703.40
5        9  1992  -4.393036            50.90
6       10  1992  -2.912598             4.10
7        4  1993   2.805573           436.10
8        5  1993   1.593170         12313.50
9        6  1993   0.755035        405537.90
10       7  1993   1.536499       1551524.00
11       8  1993   0.218048          1742.40
12       9  1993  -0.270111             6.40
13      10  1993   2.228577             0.10
14       3  1994  -0.719604           200.10
15       4  1994   1.305542            37.30
16       5  1994   1.123260          3607.00
17       6  1994   0.195068        470310.70
18       7  1994   0.676910         84786.50
19       8  1994   0.988495         56025.10
20       9  1994  -0.436340           248.20
21      10  1994  -1.605774          1002.10
22       3  1995  -2.204346             2.10
23       4  1995   2.832947          1495.30
24       5  1995   2.084961         24025.00
25       6  1995   0.568329         12472.20
26       7  1995   0.083466         33975.10
27       8  1995  -0.194000             7.20
28       9  1995   2.657135            52.90
29      10  1995   0.305237            70.20
..     ...   ...        ...              ...
176      3  2013  -0.211060            26.80
177      4  2013  -3.059967            87.00
178      5  2013  -1.253754       1098025.50
179      6  2013   2.126068       2641936.60
180      7  2013   0.818298        139617.40
181      8  2013   1.169586         27733.40
182      9  2013   0.096466             7.00
183     10  2013   4.149994             0.30
184     11  2013   1.060028             0.40
185      2  2014   0.882782             0.30
186      3  2014   1.746429             5.00
187      4  2014   2.157043            99.50
188      5  2014   1.992889       1035282.58
189      6  2014  -0.219330          6318.90
190      7  2014   0.082306          3541.30
191      8  2014   1.359833          8277.70
192      9  2014   0.929565            15.80
193     10  2014   0.500275             0.70
194     11  2014   3.613434             2.40
195      1  2015   2.995499             2.00
196      2  2015   3.695343             0.10
197      3  2015   2.944275            12.10
198      4  2015   2.787872           881.80
199      5  2015   3.782898        517446.50
200      6  2015   1.607117      24942158.99
201      7  2015   0.723633        987362.11
202      8  2015  -0.106445          5188.30
203      9  2015  -0.718567             4.70
204     10  2015   2.844604             0.40
205     12  2015   2.564453             0.30

[206 rows x 4 columns]

In [96]:
max_temp  = result1['temp_diff'].max()

In [106]:
result1.query('fire_total_area>20000').sort_values('fire_total_area')

     month  year  temp_diff  fire_total_area
171      9  2012   0.242493     2.201590e+04
134      6  2008  -0.419159     2.231140e+04
1        5  1992  -1.476074     2.265510e+04
93       5  2003   0.170166     2.278430e+04
59       5  1999  -0.742615     2.310190e+04
24       5  1995   2.084961     2.402500e+04
181      8  2013   1.169586     2.773340e+04
110      4  2005   0.508240     2.895210e+04
26       7  1995   0.083466     3.397510e+04
53       7  1998   0.841980     3.670720e+04
52       6  1998   0.583038     4.943120e+04
19       8  1994   0.988495     5.602510e+04
87       8  2002  -0.472717     6.419030e+04
35       7  1996   0.111664     6.459990e+04
119      7  2006   0.031311     6.853510e+04
18       7  1994   0.676910     8.478650e+04
3        7  1992   0.341827     9.757910e+04
95       7  2003   0.503510     1.000008e+05
124      5  2007   0.172668     1.006922e+05
162      7  2011  -0.407501     1.038210e+05
51       5  1998   0.846649     1.111904e+05
117      5  2006   0.652283     1.216944e+05
135      7  2008  -0.854950     1.383122e+05
180      7  2013   0.818298     1.396174e+05
2        6  1992   0.647583     1.607204e+05
123      4  2007   2.671600     1.686873e+05
169      7  2012  -0.311707     1.816922e+05
33       5  1996   1.096130     2.271696e+05
61       7  1999  -0.435974     2.597271e+05
111      5  2005   2.425720     2.672927e+05
..     ...   ...        ...              ...
141      5  2009   0.593597     5.436757e+05
151      6  2010   0.056763     6.603989e+05
160      5  2011   1.137268     6.638719e+05
152      7  2010  -0.221344     7.073016e+05
76       6  2001   0.416016     8.591664e+05
114      8  2005   1.191589     8.791081e+05
168      6  2012   0.197235     8.968778e+05
126      7  2007   1.094818     9.018486e+05
94       6  2003   0.878693     9.587045e+05
43       7  1997   0.911469     9.665682e+05
201      7  2015   0.723633     9.873621e+05
188      5  2014   1.992889     1.035283e+06
178      5  2013  -1.253754     1.098026e+06
150      5  2010   1.262390     1.461041e+06
67       6  2000   0.560059     1.469524e+06
84       5  2002   0.831848     1.540359e+06
10       7  1993   1.536499     1.551524e+06
85       6  2002   0.328308     1.769609e+06
34       6  1996   0.242401     1.871581e+06
86       7  2002   0.004303     2.367513e+06
179      6  2013   2.126068     2.641937e+06
105      7  2004   1.940430     2.813613e+06
60       6  1999   0.476807     3.003148e+06
142      6  2009   0.091400     3.240731e+06
143      7  2009   1.093903     3.496906e+06
113      7  2005   0.312805     3.522544e+06
42       6  1997   1.188049     3.600862e+06
112      6  2005   1.149536     7.291983e+06
104      6  2004   2.663422     1.229897e+07
200      6  2015   1.607117     2.494216e+07

[67 rows x 4 columns]

In [98]:
result1.query("temp_diff == @max_temp")

    month  year  temp_diff  fire_total_area
89     11  2002   6.013245              5.0